<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".subpkg.SubPkgActivity"
            android:exported="false" />
        <activity
            android:name=".IntentionalNameCollisionActivity"
            android:exported="true" />
        <activity
            android:name=".LibraryActivity"
            android:exported="true" />
    </application>

</manifest>